.container {
  display:flex;
  flex-direction: column;
  width: 440px;
  height:400px;
  padding: 10px;
  margin-top:20px;
  margin-left:500px;
}

#display {
  height:50px;
  margin-bottom: 0px;
  padding: 5px;
  border: 2px solid #000;
  font-size: 30px;
}

.keypad {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around; /* Align buttons in the center of the row */
}

.key {
  font-size: 35px;
  flex: 1;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 15px; /* Increased padding for larger buttons */
  text-align: center;
  cursor: pointer; /* Cursor pointer to indicate clickable */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.key:hover, .backspace:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}
.enter:hover{
  color: black;
}

.backspace {
  width:147.5px;
  background-color: #fff;
  color: #000;
  cursor: pointer; /* Cursor pointer to indicate clickable */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.enter {
  width:147.4px;
  font-weight: bold;
  font-size: 30px;
  background-color: red;
  color: white;
  cursor: pointer; /* Cursor pointer to indicate clickable */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.error-page {
    display: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    text-align: center;
}
