:root{
  --main-color:rgb(171,52,52);
}

.main-border{
  border: 5px solid rgb(0, 0, 0);
  width:375px;
  height: 812px;
}

#top-boundary{
  background-color: var(--main-color);
  width: 375px;
  height: 20px;
}

#bottom-boundary{
  background-color: var(--main-color);
  width: 375px;
  height: 20px;
  margin-top: 507px;
}

#name{
  font-size: 64px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  margin-top: 180px;
}

#button1{
  position: absolute;
  left: 10px;
  top: 340px;
  z-index: -1;

  width:35px;
  height:70px;
  border: 7px solid rgb(171, 52, 52);
  background-color: var(--main-color);
  padding: 50px;
  margin: 20px;
}

#button2{
  position: absolute;
  left: 201px;
  top: 340px;
  z-index: -1;

  width:35px;
  height:70px;
  border: 7px solid rgb(171, 52, 52);
  background-color: var(--main-color);
  padding: 50px;
  margin: 20px;
}

#comment1{
  font-size: 27px;
  font-weight: bold;
  color: white;
  position: absolute;
  text-align: center;
  left: 0px; 
  top: 100px;
}

#comment2{
  font-size: 27px;
  font-weight: bold;
  color: white;
  position: absolute;
  text-align: center;
  left: 12px; 
  top: 120px;
}

#chair{
  position: absolute;
  align-self: center;
  left:12px;
  bottom: 80px;
}

#bag{
  position: absolute;
  align-self:center;
  left:27px;
  bottom: 74px;
}

#settings_button{
  width: 50px;
  position: absolute;
  left:325px;
  top: 750px;
}
