.logo {
  position: fixed;
  top: 5px;
  left: 10px;
  width: 30px;
  height: auto;
  z-index: 1000;
}

.previous-button {
  position: absolute;
  top: 40px;
  left: 0%;
  width: 30px;
  height: auto;
  z-index: 1000;
}

.next-button {
  position: absolute;
  top: 40px;
  left: 98%;
  width: 30px;
  height: auto;
  z-index: 1000;
}

.top-line,
.bottom-line {
  position: fixed;
  left: 0;
  z-index: 993;
}

.top-line {
  top: 0;
  right: 0;
  height: 70px;
  background-color: #B27B7B;
}

.bottom-line {
  word-spacing: 50px;
  bottom: 0;
  right: 0px;
  height: 40px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  background-color: #7D7878;
}

.bottom-line2 {
  z-index: 997;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 1000px;
  height: 40px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #B27B7B;
}

.middle-line {
  position: fixed;
  top: 60%;
  right: 0;
  left: 0;
  height: 1.5px;
  color: #7D7878;
  background-color: #7D7878;
}

.middle-line2 {
  position: fixed;
  top: 65%;
  left: 0;
  right: 0;
  height: 1.5px;
  background-color: #7D7878;
}

.text {
  top: 40px;
  position: absolute;
  width: 100%;
  color: white;
  font-weight: bold;
  z-index: 996;
}

.chosen {
  position: absolute;
  text-align: center;
  color: #B27B7B;
  width: 130px;
  height: 25px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  z-index: 995;
}

.reset-button {
  position: absolute;
  background-color: #7D7878;
  border-color: #7D7878;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.rectangle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* 가로 크기 수정 */
  height: 500px;
  /* 세로 크기 수정 */
  margin-top: 3%;
  background-color: #A99F9F;
  z-index: 998;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popupText {
  position: absolute;
  left: 20%;
  color: black;
  font-weight: bold;
  z-index: 1000;
}

.add-button {
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
  /* 버튼을 가운데 정렬 */
  width: 120px;
  height: 40px;
  background-color: #AB3434;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.size-button {
  position: absolute;
  top: 51%;
  margin-right: 20%;
  width: 110px;
  height: auto;
}

.cancle-button {
  position: absolute;
  left: 70%;
  transform: translate(-50%, -50%);
  /* 버튼을 가운데 정렬 */
  width: 120px;
  height: 40px;
  background-color: #ECE2E2;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.line {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 1.5px;
  background-color: black;
}

.menu-pic {
  position: absolute;
  top: 5%;
  transform: translateX(-50%);
  width: auto;
  height: 130px;
}

.extra-button {
  position: absolute;
  top: 65%;
  width: 150px;
  height: auto;
}