.logo {
  position: fixed;
  top: 5px;
  left: 10px;
  width: 30px;
  height: auto;
  z-index: 1000;
}

.previous-button {
  position: absolute;
  top: 40px;
  left: 0%;
  width: 30px;
  height: auto;
  z-index: 1000;
}

.next-button {
  position: absolute;
  top: 40px;
  left: 98%;
  width: 30px;
  height: auto;
  z-index: 1000;
}

.top-line,
.bottom-line {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #AB3434;
  z-index: 997;
}

.top-line {
  top: 0;
  height: 70px;
}

.bottom-line {
  bottom: 0;
  height: 40px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.text {
  top: 40px;
  position: absolute;
  width: 100%;
  color: white;
  font-weight: bold;
  z-index: 1000;
}

.chosen {
  position: absolute;
  text-align: center;
  color: red;
  width: 130px;
  height: 25px;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1000;
}

.menu-button {
  position: absolute;
  /* transform: translate(-50%, -50%);
   버튼을 가운데 정렬 */
  width: 150px;
  height: 230px;
  background-color: #D9D9D9;
  color: black;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  /* 각 버튼 간격 조절 */
}

.menu-pic {
  position: absolute;
  top: 5%;
  transform: translateX(-50%);
  width: auto;
  height: 130px;
}

.menu-text {
  position: absolute;
  width: 100%;
  top: 73%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: bold;

}

.newMark {
  position: absolute;
  width: 80px;
  height: auto;
}

.minus {
  position: absolute;
  width: 60px;
  height: auto;
}