body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root{
  --main-color:rgb(171,52,52);
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  #title {
    font-size: 1.5em; /* Decrease font size for smaller screens */
  }
}

#top-boundary{
  background-color: var(--main-color);
  height: 35px;
}

#home_button{
  align-items: center;
  margin-left: 20px;
  margin-top: 2px;
}

#bottom-boundary{
  background-color: var(--main-color);
  height: 35px;
  margin-top: auto;
}

#title-arrow-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding-top: 40px;
}

#arrow_button img{
  height: 100%;
}

#arrow_button{
  margin-right: 10px;
  height: 100%;
}

#explanation {
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

#how_to_pic {
  text-align: center; 
  margin-top: 40px; 
}